VERSION="1.1.0"
APP_NAME="RAG APP"

VERSION="1.1.0"
APP_NAME="RAG APP"
MONGO_DB_CLIENT = "mongodb://127.0.0.1:27017/"
MONGO_DB_NAME="RagApp"

LLM_BACKEND="OPENAI"
EMBEDDING_MODEL_BACKEND="OPENAI"
TEMPERATURE=.2
MAX_OUTPUT_TOKEN=1000
MAX_INPUT_TOKEN = 1000
OPENAI_KEY='Ollama'
OPENAI_URL = "http://172.26.0.1:11434/v1"
EMBEDDING_MODEL_NAME="nomic-embed-text"
EMBEDDING_MODEL_DIM=768
LLM_MODEL="llama3.2:3b"
ALLOWED_FILE_TYPES=["application/pdf","text/plain"]
MAXIMUM_ALLOWED_SIZE = 5 ## 5MIB of data 
CHUNK_SIZE=512000