VERSION="1.1.0"
APP_NAME="RAG APP"


LLM_BACKEND="OPENAI"
EMBEDDING_MODEL_BACKEND="OPENAI"
TEMPREATURE=.2
MAX_OUTPUT_TOKEN=1000
MAX_INPUT_TOKEN = 1000
OPENAI_KEY=
OPENAI_URL=
EMBEDDING_MODEL_NAME="nomic-embed-text"
EMBEDDING_MODEL_DIM=768
LLM_MODEL="llama3.2:3b"